body {
    font-family: Arial, sans-serif;
    background-color: #f1f1f1;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
  }
  
  label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="date"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #fff;
  }
  
  li span {
    font-weight: bold;
  }
  
  li button {
    padding: 5px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
  }
  